

services:
  app:
    build: .
    ports:
      - "3001:3000"
    depends_on:
      - db
    environment:
      - DATABASE_URL=postgresql://restro_user:password@db:5432/restro_db
      - DB_SSL=false

  db:
    image: postgres:15-alpine
    environment:
      - POSTGRES_USER=restro_user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=restro_db
    ports:
      - "5432:5432"
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
