services:
  # Web Service for the Express App
  - type: web
    name: restro-app
    env: docker
    dockerfilePath: ./Dockerfile
    plan: free
      - key: DATABASE_URL
        fromDatabase:
          name: restro-db
          property: connectionString
      - key: PORT
        value: 3000

databases:
  - name: restro-db
    databaseName: restro_db
    user: restro_user
    plan: free # Note: Render Free Tier Postgres expires after 30 days

