services:
  # Web Service for the Express App
  - type: web
    name: restro-app
    env: docker
    dockerfilePath: ./Dockerfile
    plan: free
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: restro-db
          property: connectionString
      - key: PORT
        value: 3000

databases:
  - name: restro-db
    plan: free

